<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />

      <profile>
        <properties>
          <add name="Name" type="String" />
          <add name="Birthday" type="System.DateTime" />
          <group name="Address">
            <add name="Street" />
            <add name="City" />
            <add name="State" />
            <add name="Zipcode" />
          </group>
        </properties>
      </profile>
    </system.web>

</configuration>
