@{
    Page.Title = "Title goes here";
    Layout = "~/_SiteLayout.cshtml";


    var message = string.Empty;
    
    if (IsPost)
    {
        var username = Request.Form["userName"];
        var password = Request.Form["password"];

        if (WebUser.AuthenticateAndLogin(username, password))
        {
            Response.Redirect("~/Admin/");
        }
        else
        {
            message = "Username and password incorrect.";
        }
    }
}

<div>
    <p>@message</p>
    <form name="login" method="post">
        <p>User Name: <input type="text" name="userName" placeholder="User Name" /></p>
        <p>Password: <input type="password" name="password" placeholder="Password" /></p>
        <p><input type="submit" name="login" value="Login" /></p>
    </form>

</div>