<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
  <!-- This is default configuration settings. -->
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  
  <!-- This is customize configuration. -->
  <!-- Configuration section-handler declaration area. -->
  <!--
  <configSections>
    <section name="section1" type="section1Handler" />
    <section name="section2" type="section2Handler" />
  </configSections>
  -->
  
  <!-- Configuration section settings area. -->
  <!--
   <section1>
      <s1Setting1 attribute1="attr1" />
   </section1>
   
   <section2>
      <s2Setting1 attribute1="attr1" />
   </section2>
  -->
  
  <!-- Authentication -->
  <system.web>
    <authentication mode="Windows" />
  </system.web>
  
  <!-- Application Settings -->
  <appSettings>
    <add key="Application Name" value="MyApplication" />
    <add key="bookISBN" value="0-273-68726-3" />
    <add key="bookName" value="Corporate Finance" />
  </appSettings>
  
  <!-- Connection String -->
  <connectionStrings>
    <add name="databaseName" connectionString="Provider=PC-Name;Data Source=X:\\databaseLocation.mdb" providerName="System.Data.OleDb" />
  </connectionStrings>
  
  <!-- Custom Errors -->
  <!--
  <customErrors defaultRedirect="url" mode="On|Off|RemoteOnly">
    <error name="errorName" />
  </customErrors>
  -->

</configuration>