<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      
      <!-- tracing on for full website -->
      <trace enabled="true" />
      
      <!-- error handling for full website -->
      <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.html">
        <error statusCode="403" redirect="NoAccess.html" />
        <error statusCode="404" redirect="DataNotFound.html" />
      </customErrors>
      
      <!-- debugging -->
      <!--<compilation debug="true">
        <assemblies></assemblies>
      </compilation>-->
    </system.web>

</configuration>
